*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	color: #fffdd0;
}

nav {
  display: block;
}

#dontClick {
  min-width: 275px;
  font-size: 18px;
	font-family: "Gabarito", serif;
	font-weight: 50;
  font-style: thin;
	color: #d1635d;
  border: none;
  background-color: #fff6c3;
  box-shadow: 1.5px 1.5px 1.5px 1px rgb(0 0 255 / 0.2);
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-style: dotted;
	border: 2.4px solid rgba(29, 29, 29, 0.2);
  border-radius: 100px 100px;
	margin: auto;
}

#section2 {
	display: flex;
	justify-content: center;
	align-items: center;
  align-content: center;
	text-align: center;
  position: relative;
  border-width: 1px;
  border-style: dotted;
  border-color: #d1635d;
  box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.1), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.1);
	border-radius: 100px 100px;
  flex-wrap: wrap;
  padding: 50px;
}

.spacer {
  min-height: 60px;
  position: relative;
}

.spacer2 {
  min-height: 40px;
  display: block;
  position: relative;
}

footer {
  position: relative;
  display: block;
  width: 100%;
  z-index: 1000;
  top: 100%;
  margin-top: 120px;
  background-color: #081630;
  color: white;
  text-align: center;
  padding: 30px;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
	align-items: flex-start;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  max-width: 100%;
  padding: 0px;
}

.flex-container > div {
  margin: auto;
  padding: auto;
  font-size: 30px;
  min-height: 360px;
  min-width: 408px;
}

iframe {
  position: relative;
  width: 408px;
  height: 208px;
  border: none;
}

i {
  color: white;
  width: 10%;
  height: 10%;
}

h1 {
	font-size: 60px;
	font-family: "Shrikhand", serif;
	font-weight: 400;
  font-style: normal;
	line-height: 105%;
	color: #48140d;
	padding: 40px 40px 40px 40px;
  display: block;
}

p {
	font-size: 60px;
	font-family: "Gabarito", serif;
	font-weight: 50;
  font-style: thin;
	color: #fffdd0;
}

p2 {
	font-size: 24px;
	font-family: "Gabarito", serif;
	font-weight: regular;
  font-style: heavy;
	line-height: 120%;
	color: #fffdd0;
  display: block;
  text-align: center;
}

ul {
  font-size: 20px;
	font-family: "Gabarito", serif;
	font-weight: 50;
  font-style: thin;
	list-style-type: none;
  margin: 0;
  padding: 20px;
	width: 1000px;
  border: 1px solid #e7e7e7;
 	background-color: #f3f3f3;
}

li {
  display: inline;
}

a {
  color: #1cb0e6;
  text-decoration: none;
}

#top-button {
  position: relative;
  z-index: 15;
  opacity: .2;
  padding: 0% 0% 2.5% 0%;
  width: 20px;
}

#top-button img {
  transition: transform 0.3s ease;
}

#top-button img:hover {
  transform: scale(0.97);
}

#home-button {
  position: fixed;
  z-index: 15;
  opacity: .2;
  padding: 2.5%;
  width: 20px;
}

#home-button img {
  transition: transform 0.3s ease;
}

#home-button img:hover {
  transform: scale(0.97);
}

.mobileBubble {
  position: relative;
  display: block;
}

.desktopBubble {
  position: relative;
  display: block;
}

.desktopBubble, .mobileBubble {
  margin: 0 auto;
}

img {
  position: relative;
}

.logos {
  padding: 5%;
  margin: auto;
  display: block;
  justify-content: center;
  width: 60px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: 40px;
}

.image-container {
  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container:hover {
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

@media screen and (min-width: 768px) {
  .spacer, .mobileBubble {
    display: none;
  }
  .image-gallery {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .spacer2, .desktopBubble {
    display: none;
  }
  .flex-container {
    flex-direction: row;
  }
}

.mobileBubble {
  position: relative;
  align-items: center;
}


/* Home background elements */

.background {
	min-height: 100vh;
	max-height: 100vh;
	left: center;
	right: center;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	position: relative;
	vertical-align: text-top;
	padding: 0px 0px 0px 0px;
}

#Hometitle {
    position: absolute;
    padding: 0px 40px 0px 40px;
}

/* Home coloured block elements */

@media screen and (max-width: 768px) {
  .mySidenav, .mySidenav2, .mySidenav3, .mySidenav4 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .myMobilenav, .myMobilenav2, .myMobilenav3, .myMobilenav4 {
    display: none;
  }
}

.myMobilenav a {
  position: relative;
  display: block;
  top: 160%;
  padding: 10px;
  width: 100%;
  height: 20%;
  z-index: 9;
  text-decoration: none;
  text-align: center;
  writing-mode: horizontal-tb;
  font-size: 10px;
	font-family: "Gabarito", serif;
	font-weight: 50;
  font-style: thin;
  color: #fffdd0;
  background-color: #04AA6D;
  border-radius: 0 0 0 0;
  rotate: 0deg;
}

.myMobilenav2 a {
  position: relative;
  display: block;
  top: 180%;
  padding: 10px;
  width: 100%;
  height: 20%;
  z-index: 8;
  text-decoration: none;
  text-align: center;
  writing-mode: horizontal-tb;
  font-size: 10px;
	font-family: "Gabarito", serif;
	font-weight: 50;
  font-style: thin;
  color: #fffdd0;
  background-color: #ff6961;
  border-radius: 0 0 0 0;
  rotate: 0deg;
}

.myMobilenav3 a {
  position: relative;
  display: block;
  top: 200%;
  padding: 10px;
  width: 100%;
  height: 20%;
  z-index: 8;
  text-decoration: none;
  text-align: center;
  writing-mode: horizontal-tb;
  font-size: 10px;
	font-family: "Gabarito", serif;
	font-weight: 50;
  font-style: thin;
  color: #fffdd0;
  background-color: #f7c900;
  border-radius: 0 0 0 0;
  rotate: 0deg;
}

.myMobilenav4 a {
  position: relative;
  display: block;
  top: 220%;
  padding: 10px;
  width: 100%;
  height: 20%;
  z-index: 8;
  text-decoration: none;
  text-align: center;
  writing-mode: horizontal-tb;
  font-size: 10px;
	font-family: "Gabarito", serif;
	font-weight: 50;
  font-style: thin;
  color: #fffdd0;
  background-color: #895129;
  border-radius: 0 0 0 0;
  rotate: 0deg;
}

.mySidenav a {
  position: absolute;
  left: -94%;
  top: 0px;
  transition: 0.5s;
  padding: 4%;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
  z-index: 6;
  writing-mode: vertical-rl;
  font-size: 20px;
	font-family: "Gabarito", serif;
	font-weight: 50;
  font-style: thin;
  color: #fffdd0;
  background-color: #04AA6D;
  border-radius: 0 0 0 0;
  rotate: 0deg;
  transition-delay: 2s;
}

.mySidenav2 a {
  position: absolute;
  top: -88%;
  left: -6%;
  transition: 0.5s;
  padding: 2%;
  width: 100%;
  height: 100%;
  z-index: 8;
  text-decoration: none;
  text-align: center;
  vertical-align: text-bottom;
  writing-mode: horizontal-tb;
  font-size: 20px;
	font-family: "Gabarito", serif;
	font-weight: 50;
  font-style: thin;
  color: #fffdd0;
  background-color: #ff6961;
  border-radius: 0 0 0 0;
  rotate: 0deg;
  transition-delay: 2s;
}

.mySidenav3 a {
  position: absolute;
  display: block;
  top: 88%;
  display: block;
  transition: 0.5s;
  padding: 1.8%;
  width: 100%;
  height: 100%;
  z-index: 4;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
	font-family: "Gabarito", serif;
	font-weight: 50;
  font-style: thin;
  color: #fffdd0;
  background-color: #f7c900;
  border-radius: 0 0 0 0;
  transition-delay: 2s;
}

#Contact {
  top: 0px;
}

.mySidenav4 a {
  position: absolute;
  right: -94%;
  transition: 0.5s;
  padding: 4%;
  width: 100%;
  height: 100%;
  text-decoration: none;
  z-index: 3;
  text-align: center;
  vertical-align: bottom;
  writing-mode: vertical-rl;
  font-size: 20px;
	font-family: "Gabarito", serif;
	font-weight: 50;
  font-style: thin;
  color: #fffdd0;
  background-color: #895129;
  border-radius: 0 0 0 0;
  rotate: 180deg;
  transition-delay: s;
}

body {
  background-color: #f7f0c0;
  overflow-x: hidden;
}


/* Form elements */

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 15px;
  font-family: "Gabarito", serif;
  background-color: white;
  color: grey;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 15px;
  font-family: "Gabarito", serif;
  background-color: white;
  color: grey;
}

form {
  font-size: 18px;
  font-family: "Gabarito", serif;
}

button {
  background-color: white;
  font-family: "Gabarito", serif;
  font-size: 20px;
  color: #895129;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
  border: 2px solid white;
}